* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15%;
}

.clock {
    height: 40%;
    width: 100%;
    min-width: 300px;
    max-width: 500px;
    color: #fee;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
    border: 3px solid white;
    font-size: 15vw;
    font-family: sans-serif;
    display: flex;
    text-align: center;
    border-radius: 10px;
    background: #29CDF2;
    position: relative;
    overflow: hidden;
    align-items: center;
    justify-content: space-evenly;
    align-content: space-around;
    padding: 15%;
}

.clock>div {
    display: flex;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.tick {
    line-height: 17vh;
}

.tick-hidden {
    opacity: 0;
}

.move {
    animation: move linear 1s infinite;
}

@keyframes move {
    from {
        transform: translateY(0vh);
    }

    to {
        transform: translateY(-20vh);
    }
}